@import url('https://fonts.googleapis.com/css?family=Major+Mono+Display|Raleway:400,700');

/* General Styles */
*, *::before, *::after {
  box-sizing: border-box;
}
html {
  --ball-size: 40px;
  --paddle-width: 5px;
  --paddle-height: 100px;
}
body {
  font-family: 'Raleway', 'Helvetica', sans-serif;
  background: #111;
  color: #EEE;
  position: relative;
  margin: 0;
}
/* /General Styles */

.banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 80vw;
  margin: 0 auto;
  padding: 1rem 0 0;
  display: none;
}

.title {
  font-family: 'Major Mono Display', 'Helvetica', sans-serif;
  font-size: 10vh;
  margin: 1vh;
  text-transform: uppercase;
  text-align: center;
}

.start-button {
  padding: .5rem 1rem;
  border-radius: 10%;
  font-size: 1rem;
}

.score {
  font-weight: bold;
}

.board {
  position: relative;
  border: 1px grey dashed;
  border-left: none;
  width: 90vw;
  height: 90vh;
  position: relative;
  margin: 2rem auto 0;
}

.paddle {
  height: var(--paddle-height);
  width: var(--paddle-width);
  background: #ffffff;
  position: absolute;
  top: 40%; right: 0; bottom: 0; left: 0 ;
}

.ball {
  width: var(--ball-size);
  height: var(--ball-size);
  background: white;
  color: white;
  border-radius: 0%;
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  /* transition: top 400ms linear, left 400ms linear; */
  border: 0;
}

.red {
  background: red;
}
