@import url('https://fonts.googleapis.com/css?family=Major+Mono+Display|Raleway:400,700');

/* General Styles */
*, *::before, *::after {
  box-sizing: border-box;
}
html {
  --ball-size: 40px;
  --paddle-width: 10px;
  --paddle-height: 100px;
}
body {
  font-family: 'Raleway', 'Helvetica', sans-serif;
  background: rgb(2, 2, 2);
  color: rgb(250, 250, 250);
  position: relative;
  margin: 0;
  max-height: 100vh;
  user-select: none;
}
/* /General Styles */

.banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 80vw;
  margin: 0 auto;
  height: 15vh;
  min-width: 320px;
  border-bottom: 1px dashed rgba(255, 255, 255, .15);
}

.title {
  font-family: 'Major Mono Display', 'Helvetica', sans-serif;
  margin: 0;
  text-transform: uppercase;
  text-align: center;
}

.score {
  font-weight: 700;
  font-size: 3.5rem;
}

.board {
  background: rgb(0, 0, 0);
  position: relative;
  border: 0;
  width: 90vw;
  height: 85vh;
  position: relative;
  margin: 0 0 0 auto;
  cursor: crosshair;
}

.paddle {
  height: var(--paddle-height);
  width: var(--paddle-width);
  background: #ffffff;
  position: absolute;
  top: 40%; right: 0; bottom: 0; left: -5px;
  cursor: pointer;
}

.ball {
  width: var(--ball-size);
  height: var(--ball-size);
  background: rgb(255, 255, 255);
  border-radius: 50%;
  position: absolute;
  top: 50%; left: 50%;
}

fieldset {
  border: none;
}

@media screen and (max-width: 500px) {
  html {
    --ball-size: 20px;
  }
  fieldset {
    font-size: .75rem;
  }
}
