@import url('https://fonts.googleapis.com/css?family=Major+Mono+Display|Raleway:400,700');

/* General Styles */
*, *::before, *::after {
  box-sizing: border-box;
}
html {
  --ball-size: 40px;
  --paddle-width: 10px;
  --paddle-height: 100px;
  max-height: 100vh;
}
body {
  font-family: 'Raleway', 'Helvetica', sans-serif;
  background: -webkit-linear-gradient(left, #4b6cb7 0%, #182848 100%);
  background: -o-linear-gradient(left, #4b6cb7 0%, #182848 100%);
  background: linear-gradient(to right, #4b6cb7 0%, #182848 100%);
  color: rgb(250, 250, 250);
  background: black;
  position: relative;
  margin: 0;
  max-height: 100vh;
  user-select: none;
}
/* /General Styles */

.banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 80vw;
  margin: 0 auto;
  height: 15vh;
  min-width: 320px;
  border-bottom: 1px dashed rgba(255, 255, 255, .15);
}

.title {
  font-family: 'Major Mono Display', 'Helvetica', sans-serif;
  margin: 0;
  text-transform: uppercase;
  text-align: center;
}

.score {
  font-weight: 500;
  font-size: 3.5rem;
  min-width: 92px;
}

.board {
  position: relative;
  border: 0;
  width: 100vw;
  height: 85vh;
  position: relative;
  margin: 0 0 0 auto;
  cursor: crosshair;
  overflow: hidden;
}

.paddle {
  height: var(--paddle-height);
  width: var(--paddle-width);
  background: #fff;
  position: absolute;
  top: 40%; right: 0; bottom: 0; left: 0px;
  cursor: pointer;
  border-radius: 2px;
}

.ball {
  width: var(--ball-size);
  height: var(--ball-size);
  background: rgb(255, 255, 255);
  background: -webkit-linear-gradient(left, #f8ff00 0%, #3ad59f 100%);
  background: -o-linear-gradient(left, #f8ff00 0%, #3ad59f 100%);
  background: linear-gradient(to right, #f8ff00 0%, #3ad59f 100%);
  border-radius: 50%;
  position: absolute;
  top: 50%; left: 50%;
}

fieldset {
  border: none;
}

@media screen and (max-width: 500px) {
  .board {
    width: 100vw;
  }
  .score {
    font-size: 3rem;
    min-width: 79px;
  }
  fieldset {
    font-size: .75rem;
  }
}
